<div class="jumbotron text-center">
  <h1>ROCK STAR:</h1>
  <h2>Weapon of Choice</h2>
  <br>
  <div class="row">
    <div class="col-sm-3 col-lg-3 col-md-3"></div>
    <div class="col-sm-6 col-lg-6 col-md-6">
      <p class="lead">No rock star worth their rhinestones ever hits the stage without brandishing their weapon of choice! Use this API to discover the arsenal of your favorite artists or find out who prefers any particular face-melting instrument.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <h1 class="text-center">Try it out!</h1>
      <div class="input-group">
        <span id="url-root" class="input-group-addon">sdafd</span>
        <input type="text" class="form-control" id="request-url-input" aria-describedby="basic-addon3" value="rock-stars">
        <span class="input-group-btn">
          <button id="request-btn" class="btn btn-primary" type="button">Request</button>
        </span>
      </div>
      <small>Try
        <a href="#" class="hint">
          <i>rock-stars/1</i>
        </a> or
        <a href="#" class="hint">
          <i>weapons/2</i>
        </a>
      </small>
      <h4>Response:</h4>
      <div class="well">
        <pre id="responseOutput" class="pre-scrollable">
        </pre>
      </div>
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3 col-lg-3 col-md-3"></div>
    <div class="col-sm-6 col-lg-6 col-md-6">
      <div class="text-center">
        <h1><code>GET</code> Requests</h1>
      </div>
      <p>There are two endpoints with accessible data, <code>/rock-stars</code> and <code>/weapons</code>. Use our RESTful API to gather data from each resource or search by ID to grab the associations.</p>
      <pre> <code>http GET ~/api/weapons/2</code></pre>
      <br>
      <div class="text-center">
        <h1><code>PUT</code> Requests</h1>
      </div>
      <p>You can use the same endpoints to edit any or all properties of a resource. Just make sure you supply the right parameters.</p>
      <pre><code>http PUT ~/api/weapons/5 model="Jazzmaster" image="img.jpg"</code></pre>
      <pre><code>http PUT ~/api/rock-stars/1 image="ledzep.jpg"</code></pre>
      <div class="text-center">
        <h1><code>DELETE</code> Requests</h1>
      </div>
      <p>We don't trust random internet strangers to delete records from our database! To prove you are worthy, submit a <a href="https://github.com/mcdermz/g48_make-an-api">pull request to the repo</a> for this API and <i>maybe</i> we'll give you full <code>CRUD</code> access.</p>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-lg-3 col-md-3"></div>
    <div class="col-sm-6 col-lg-6 col-md-6">
      <div class="text-center">
        <h1><code>POST</code> Requests</h1>
      </div>
      <p>
        Who wants to see their rock 'n roll idols that have forgotten to bring their rigs to the gig? </br><strong>Nobody.</strong>
      </p>
      <p>
        What good is a guitar if no one ever plays it? </br><strong>It's not.</strong>
      </p>
      <p>
        In order to post to this database you will need to include at least one artist and one of their weapons of choice so neither will feel useless!
      </p>
      <p>Send a <code>POST</code> request to the <code>api/star-weapon</code> endpoint, making sure to include the right data package.</p>
      <p> There are three valid combinations of data packages:</p>
      <ol>
        <li>A new association for two existing entities:
          <pre><code>~/star-weapon rock_stars_id=1
            weapons_id=5</code></pre>
        </li>
        <li>An association for one existing entity and one new entity:
          <pre><code>~/star-weapon rock_stars_id=2
            make="Martin"
            model="12-string"
            weaponImg="martin.jpg"</code></pre>
          <pre><code>~/star-weapon weapons_id=2
            name="Robert Cray"</code></pre>
        </li>
        <li>An association for two new entities:
          <pre><code>~/star-weapon name="Brian May"
            rockstarImg="queen.jpg"
            make="Vox"
            model="Brian May Signature"
            weaponImg="bmay-sig.jpg"</code></pre>
        </li>
      </ol>
      <p>You will currently need to make an HTTP request to create new associations with an existing entity, but you can use the form below to add two new entities directly!</p>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-3"></div>
  </div>
  <br>
  <form class="post-form">
    <div id="request-success" class="alert alert-success text-center hidden">
      <strong>Success!</strong> Your POST was made successfully!
    </div>
    <div id="request-fail" class="alert alert-danger text-center hidden">
      <strong>Oh no!</strong> Your POST was unsuccessful!
    </div>
    <div class="row">
      <div class="col-sm-1 col-lg-1 col-md-1"></div>
      <div class="col-sm-5 col-lg-5 col-md-5">
        <div class="text-center">
          <h3>Rock Star</h3>
        </div>
        <div class="form-group">
          <label for="rock-star-name">Name</label>
          <input name="name" type="text" class="form-control" id="rock-star-name" placeholder="Rock Star name" required>
        </div>
        <div class="form-group">
          <label for="rock-star-image">Image link</label>
          <input name="rockstarImg" type="text" class="form-control" id="rock-star-image" placeholder="Image link">
        </div>
      </div>
      <div class="col-sm-5 col-lg-5 col-md-5">
        <div class="text-center">
          <h3>Weapon of Choice</h3>
        </div>
        <div class="form-group">
          <label for="weapon-make">Make</label>
          <input name="make" type="text" class="form-control" id="weapon-make" placeholder="Make" required>
        </div>
        <div class="form-group">
          <label for="weapon-model">Model</label>
          <input name="model" type="text" class="form-control" id="weapon-model" placeholder="Model" required>
        </div>
        <div class="form-group">
          <label for="weapon-image">Image link</label>
          <input name="weaponImg" type="text" class="form-control" id="weapon-image" placeholder="Image link">
        </div>
      </div>
      <div class="col-sm-1 col-lg-1 col-md-1"></div>
    </div>
    <br>
    <div class="text-center">
      <button type="submit" class="post-form-submit btn-lg btn-primary">Submit</button>
    </div>
  </form>
</div>
