<div class="container">
  <div class="jumbotron text-center">
    <h1>ROCK STAR:</h1>
    <h2>Weapon of Choice</h2>
  </div>
  <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <p>No rock star worth their rhinestones ever hits the stage without brandishing their weapon of choice! Use this API to discover the arsenal of your favorite artists or, vice versa, discover who prefers any particular face-melting instrument.</p>
      <h1 class="text-center">Try it out!</h1>
      <div class="input-group">
        <span class="input-group-addon">http://localhost:3000/api/</span>
        <input type="text" class="form-control" id="request-url-input" aria-describedby="basic-addon3" value="rock-stars">
        <span class="input-group-btn">
          <button id="request-btn" class="btn btn-primary" type="button">Request</button>
        </span>
      </div>
      <small>Try
        <a href="#" class="hint">
          <i>rock-stars/1</i>
        </a> or
        <a href="#" class="hint">
          <i>weapons/2</i>
        </a>
      </small>
      <h4>Response:</h4>
      <div class="well">
        <pre id="responseOutput" class="pre-scrollable">
        </pre>
      </div>
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2"></div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <h2>How to Use</h2>
        <p>There are two resources with accessible data, <code>/rock-stars</code> and <code>/weapons</code>. Use our RESTful API to gather data from each resource or search by ID to grab the associations: <code>/weapons/2</code>.</p>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <h2>Posting to the Database</h2>
        <p>
          Nobody goes to see their rock 'n roll idols who have forgotten to bring their rigs to the gig, and what good is a guitar if no one ever plays it? In order to post to this database you will need to include at least one artist and one of their weapons of choice so neither will feel useless!
        </p>
        
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2"></div>
  </div>
</div>
